body {
	
	
	 background-image:: url("../images/giphyBackGround.jpg") ;
}


html {
	border: 20px solid;
	border-image: url("../images/giphyBackGround.jpg") 30 round;
	min-height: 100%;
}
#Celebfavorites {
	font-style: italic;
	font-size: 36px;
}

.container {
	opacity: 1;
	margin-left: 35px;margin-bottom:200px;
}

button {
    margin: 5px;
    background-color: #a7ffa4;
    color: black;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #ffef97;
    border-radius: 5px;
}

#Celeb-input-box {
	float: right;
	padding-right: 10%;
}

label {
	font-size: 25px;
	font-weight: bolder;
}

#add-Celeb {
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #ff3679;
	color: white;
}

#Celeb-input {
	margin-top: 10px;
	height: 20px;
}

#Celebview {
	margin-top: 10px;
	margin-right: 25%;
}

.Celebpictures {
	float: left;
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	margin-top: 5px;
    margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	color: #a8a3ff;
}

.footer {
	background: #ff4f00;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}



